# Ignore everything
*

# But not these files...
!.gitignore
!.gitkeep

!*.go
!*.sql
!go.sum
!go.mod
!**/testdata/**

!README.md
!LICENSE

!.env.example
!license-server.service

# !Makefile

# ...even if they are in subdirectories
!*/
