# Ignore everything
*

# But not these files...
!.gitignore
!.gitkeep

!*.go
!*.sql
!go.sum
!go.mod
!**/testdata/**

!README.md
!LICENSE

!makefile
!.env.example
!licensing-server.service

!**/public/**

# ...even if they are in subdirectories
!*/
